<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings.SQL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings.SQL>
            <setting name="addressSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="portSetting" serializeAs="String">
                <value />
            </setting>
        </Settings.SQL>
        <Settings.Settings1>
            <setting name="portSetting" serializeAs="String">
                <value>80</value>
            </setting>
        </Settings.Settings1>
    </userSettings>
    <applicationSettings>
        <Settings.Settings1>
            <setting name="addressSetting" serializeAs="String">
                <value>172.16.1.104</value>
            </setting>
        </Settings.Settings1>
    </applicationSettings>
</configuration>