<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MTM_WIP_App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MTM_WIP_App.SQL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<MTM_WIP_App.Settings>
   <setting name="addressSetting" serializeAs="String">
    <value>172.16.1.104</value>
   </setting>
   <setting name="portSetting" serializeAs="String">
    <value>3306</value>
   </setting>
   <setting name="VisualUserName" serializeAs="String">
    <value>User Name</value>
   </setting>
   <setting name="Theme_Name" serializeAs="String">
    <value>Default (Black and White)</value>
   </setting>
   <setting name="Theme_TextSize" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="VisualPassword" serializeAs="String">
    <value>Password</value>
   </setting>
   <setting name="LastShownVersion" serializeAs="String">
    <value />
   </setting>
  </MTM_WIP_App.Settings>
  <MTM_WIP_App.SQL>
   <setting name="addressSetting" serializeAs="String">
    <value>172.16.1.104</value>
   </setting>
   <setting name="portSetting" serializeAs="String">
    <value>3306</value>
   </setting>
   <setting name="VisualUserName" serializeAs="String">
    <value>User Name</value>
   </setting>
   <setting name="Theme_Name" serializeAs="String">
    <value>Default (Black and White)</value>
   </setting>
   <setting name="Theme_TextSize" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="VisualPassword" serializeAs="String">
    <value>Password</value>
   </setting>
   <setting name="LastShownVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="HideLastShown" serializeAs="String">
    <value>False</value>
   </setting>
  </MTM_WIP_App.SQL>
	</userSettings>
</configuration>